a,
a:focus,
a:hover {
    color: #333;
}

html,
body {
    height: 100%;
}

#swagger {
    background-color: #ffffff;
    padding: 5px;
    margin: 20px 0px;
}

.cover-container {
    max-width: 75em;
}

.cover {
    padding: 0 1.5rem;
}
